#main-web {
    display: flex;
    min-height: 100%;
}
#content {
    position: absolute;
    top: var(--header-height);
    left: var(--nav-width);
    max-width: calc(100% - var(--nav-width));
    width: calc(100% - var(--nav-width));
    box-sizing: border-box;
}
